*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    overflow-x:hidden;
    font-family:Arial, Helvetica, sans-serif;
    background:#f8f8f8;
}

.Navber{
    width:100%;
    height:80px;
    background:#fff;

    display:flex;
    justify-content:space-between;
    align-items:center;

    padding:0 50px;

    box-shadow:7px 2px 10px rgba(0, 81, 255, 0.08);

    position:sticky;
    top:0;
    z-index:1000;
}

.Image{
    display:flex;
    align-items:center;
    gap:10px;
}

.Image img{
    width:100px;
    filter: drop-shadow(3px 4px 5px rgb(255, 105, 105));
}

.Image h1{
    color:#008cff;
    font-size:35px;
    text-shadow: 3px 4px 5px black;
}


ul{
    display:flex;
    align-items:center;
    gap:35px;
}

ul li{
    list-style:none;
}

ul li a{

    text-decoration:none;
    color:#333;
    font-size:18px;
    font-weight: 500;
    position:relative;
    transition:.3s;
}

ul li a:hover{
    color:#ff4d4d;
}

ul li a::after{

    content:"";
    position:absolute;
    left:0;
    bottom:-6px;
    width:0%;
    height:2px;
    background:#ff4d4d;
    transition:.3s;
}

ul li a:hover::after{
    width:100%;
}


.Search input{

    width:250px;
    height:42px;

    border-radius:30px;
    border:1px solid #ccc;

    padding:0 18px;
    outline:none;

    transition:.3s;
}

.Search input:focus{

    border-color:#ff4d4d;
    box-shadow:0 0 10px rgba(255,77,77,.2);
}

.LoginBtn{
     font-size: 20px;
    padding:12px 28px;

    border:none;
    border-radius:30px;

    background:#ff4d4d;
    color:white;

    cursor:pointer;

    transition:.3s;
}

.LoginBtn:hover{

    background:#e63939;

    transform:translateY(-3px);
}
