.home-page{
    height: 70vh;
    display:flex;
    align-items:center;
    justify-content:center;
}

.hero-content{
    width:100%;
    display:flex;
    align-items:center;
    justify-content:space-between;
    gap:90px;
}

.hero-text{
    flex:1;
    padding-right: 40px;
}

.hero-text h1{
    font-size:48px;
    color:#fff;
    margin-bottom:5px;
    text-shadow: 3px 4px 7px #00e5ff;
    
}

.hero-text span{
    color:#00e5ff;
     text-shadow: 3px 4px 7px #fdfdfd83;
}

.hero-text h2{
    font-size:25px;
    color:#00e5ff67;
    text-shadow: 0px 0px 4px rgba(255, 255, 255, 0.699);
}

.hero-text p{
    font-size:16px;
    line-height:1.8;
    color:#9ea6b3;
    max-width:600px;
    margin-bottom:35px;
}

.hero-btn{
    display:inline-block;
    font-size: 20px;
    font-weight: 700;
    padding:15px 35px;
    border-radius:40px;
    text-decoration:none;
    color:#fff;
    background:#00c8ff;
    transition:.3s;
}

.hero-btn:hover{
    background:#00e5ff;
    color:#000;
    box-shadow:0 0 20px #00e5ff;
}

.Social-link {
    margin-top: 30px;
       padding-right: 230px;
}

.Social-link ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 0;
    margin: 0;
  
}

.Social-link ul li {
    list-style: none;
}

.Social-link ul li a {
    display: flex;
    justify-content: center;
    align-items: center;
   
    width: 55px;
    height: 55px;

    color: #ffffff;
    font-size: 24px;
    text-decoration: none;

    border: 2px solid #00e5ff;
    border-radius: 50%;

    background: transparent;
    transition: all 0.3s ease;
}

.Social-link ul li a:hover {
    background: #00e5ff;
    color: #000;
    transform: translateY(-5px) scale(1.08);
    box-shadow: 0 0 20px #00e5ff;
    border: 2px solid black;
}

.hero-image{
    flex:1;
    display:flex;
    justify-content:center;
}

.hero-image img{
    width:400px;

    filter: drop-shadow(3px 8px 5px rgba(0,229,255,.6) );
}